/* MAIN PAGE */

* {
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.Logo {
    width: 150px;
    height: 70px;
	  position: absolute;
    top: 40px;
    left: 50px;
    padding-bottom: 30px;
}

.navbar {
	display: flex;
} 

.menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left:0;
    width: 131px;
    cursor: pointer;
    z-index: 1;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
   
  .menubox{
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100px;
    margin-top: 130px;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 1;
  }
   
  .menu-item {
    display: block;
    padding: 12px 24px;
    margin-left: 50px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu-item:hover {
    background-color: #CFD8DC;
  }
   
   
  #menu-toggle{
    opacity: 0;
  }
   
 #menu-toggle:checked ~ .menu-btn > p{
    color: red;
  }

  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }

  .Ability {
    position: absolute;
    width: 170px;
    top: 86px;
    left: 250px;
    font-size: 24px;
  }

  .About {
    color: black;
    position: absolute;
    top: 86px;
    left: 435px;
    font-size: 24px;
    text-decoration: none;
}

.Doc {
  color: black;  
  position: absolute;
    top: 86px;
    left: 600px;
    font-size: 24px;
    text-decoration: none;
}

.Time {
  color: black;  
  position: absolute;
    top: 86px;
    left: 1240px;
    font-size: 24px;
    text-decoration: none;
}

.Info {
  color: black;  
  position: absolute;
    top: 86px;
    left: 1450px;
    font-size: 24px;
    text-decoration: none;
}

.MainPhoto {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 100%;
  height: 450px;
}

.Slogan {
  position: absolute;
  top: 450px;
  left: 70px;
  z-index: 1;
  color: rgb(7, 7, 95);
}

.WhyMed {
  position: absolute;
  top: 700px;
  left: 200px;
}

.text1 {
  width: 500px;
  position: absolute;
  top: 700px;
  left: 900px;
}

.text2 {
  width: 500px;
  position: absolute;
  top: 850px;
  left: 200px;
}

.text3 {
  width: 500px;
  position: absolute;
  top: 850px;
  left: 900px;
}